/*General Styles*/
body{
    font-family: 'Raleway', sans-serif !important;
}

section{
    margin-bottom: 60px;
}

.text-vertical-align{
    display: flex;
    align-items: center;
}

.blue-text {
    color: #10455B;
    font-weight: bold;
}

.odd-section {
    background-color: #ffffff;
}

.even-section {
    background-color: #ebebeb;
}

/*Navbar*/
.navbar-brand{
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    color: black !important;
    font-family: 'Raleway', sans-serif !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    font-weight: bold;
}

/*Main*/
#main .carousel-inner img{
    max-height: 100vh;
    object-fit: cover;
}

#carousel{
    position: relative;
}

#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

#carousel .overlay .container, #carousel .overlay .row{
    height: 100%;
}

#messageLabel{
    font-family: 'Turret Road', cursive;
    font-size: 4rem;
}

/*Profile*/
 hr{
    width: 30%;
    border-top: 1px solid rgba(0,0,0,0.5)
}

/*Work Experience*/
/*Education*/