/*General Styles*/
body{
    font-family: 'Raleway', sans-serif !important;
    padding-bottom: 60px;
}

.text-vertical-align{
    display: flex;
    align-items: center;
}

.blue-text {
    color: #10455B;
    font-weight: bold;
}

.odd-section {
    background-color: #ffffff;
}

.even-section {
    background-color: #ebebeb;
}

/*Navbar*/

.bg-dark {
    background: linear-gradient(90deg, #1c3643 0, #273b47 25%, #10455B) !important;
}
.navbar-brand{
    font-weight: bold;
}


/*Main*/
#main .carousel-inner img{
    max-height: 100vh;
    object-fit: cover;
}

#carousel{
    position: relative;
}

#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

#carousel .overlay .container, #carousel .overlay .row{
    height: 100%;
}

#messageLabel{
    font-family: 'Turret Road', cursive;
    font-size: 4rem;
}

/*Profile*/
hr{
    width: 30%;
    border-top: 1px solid rgba(0,0,0,0.5)
}

.flag{
    width: 24px;
}

.tech-logo{
    width: 64px;
	height: auto
}